a,
p a {
    text-decoration: underline;
    color: #212529;
}

.post-preview>a,
.post-preview>.post-meta>a {
    text-decoration: none;
    color: #212529;
}

a:link,
p a.link,
.post-preview>a:link,
.post-preview>.post-meta>a:link {
    color: #212529;
}

a:visited,
p a:visited,
.post-preview>a:visited,
.post-preview>.post-meta>a:visited {
    color: #463961;
}

a:hover,
a:focus,
a:active,
p a:hover,
p a:focus,
p a:active,
.post-preview>a:hover,
.post-preview>a:focus,
.post-preview>a:active,
.post-preview>.post-meta>a:hover,
.post-preview>.post-meta>a:focus,
.post-preview>.post-meta>a:active {
    text-decoration: underline;
    color: darkblue;
}


.meta a {
    color: #e3f9ff;
}

.web-page {
    border: 2px solid darkgray;
}

.navbar-brand, .nav-link, .dropdown-item  {
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
    padding: 0 2rem ;
  }