
  .post-preview>a:focus, .post-preview>a:hover {
    text-decoration: none;
    color: darkblue;
}

.post-preview>a {
    color: #212529;
}

.post-preview>.post-meta>a {
    text-decoration: none;
    color: #212529;
}

.post-preview>.post-meta>a:hover {
    text-decoration: none;
    color: darkblue;
}